<div align="center" class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1>Datos Cuenta</h1>
      <div class="row">
        <br />
        <div class="col-sm-4">
          <h5>Nombre</h5>
        </div>
        <div class="col-sm-4">
          <h5>Apellido</h5>
        </div>
        <div class="col-sm-4">
          <h5>Correo/Usuario</h5>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
          <h5>DIRECCION</h5>
        </div>
        <div class="col-sm-4">

        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <h1></h1>
      <br />
        <br />
      <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <button class="btn btn-primary" type="submit">Completar la Orden</button>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
    </div>
  </div>
</div>
