
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="topnav">
  <a class="active" href="/Home">Home</a>
  <a class="active" href="#/Entrenador/Lista">Entrenador</a>
  <a class="active" href="#/Entrenador/Pokemon">Pokemon</a>
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>

</body>
</html>


<!-- <div id="search-component">
  <h4>Search</h4>

  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />

  <ul class="search-result">
    <li *ngFor="let entrenador of entrenadores$ | async" >
      <a routerLink="/Entrenador/{{entrenador.id}}">
        {{entrenador.nombres}}
      </a>
    </li>
  </ul>
</div> -->
