<div align="center" class="container">
  <h1>CREAR ENTRENADOR</h1>
  <br />
  <label>Nombre Entrenador:
 <input #nombreEntrenador type="text" class="form-control" aria-label="Sizing example input"
 aria-describedby="inputGroup-sizing-sm">
  </label>
  <br />
  <label>Apellido Entrenador:
 <input #apellidoEntrenador type="text" class="form-control" aria-label="Sizing example input"
 aria-describedby="inputGroup-sizing-sm">
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <br />
  <button type="button" class="btn btn-submit" (click)="addEntrenador(nombreEntrenador.value, apellidoEntrenador.value);
   nombreEntrenador.value=''; apellidoEntrenador.value=''">
    Crear
  </button>
</div>

<ul class="entrenador">
  <li *ngFor="let entrenador of entrenadores">
    <a routerLink="/Entrenador/{{entrenador.id}}">
      <span class="badge">{{entrenador.id}}</span> {{entrenador.nombres}}
    </a>
    <button class="delete" title="delete entrenador"
      (click)="delete(entrenador)">Eliminar</button>
  </li>
</ul>
