<div align="center" class="container">
  <h1>CREAR ENTRENADOR</h1>
  <br />
  <label>Nombre Entrenador:
 <input #nombreEntrenador type="text" class="form-control" aria-label="Sizing example input"
 aria-describedby="inputGroup-sizing-sm">
  </label>
  <br />
  <label>Apellido Entrenador:
 <input #apellidoEntrenador type="text" class="form-control" aria-label="Sizing example input"
 aria-describedby="inputGroup-sizing-sm">
  </label>
<br />
  <label>Fecha Nacimiento:
 <input #fechaNacimiento type="text" class="form-control" aria-label="Sizing example input"
 aria-describedby="inputGroup-sizing-sm">
  </label>
  <br />
    <label>Numero Medallas:
   <input #numeroMedallas type="text" class="form-control" aria-label="Sizing example input"
   aria-describedby="inputGroup-sizing-sm">
    </label>

  <!-- (click) passes input value to add() and then clears the input -->
  <br />
  <button type="button" class="btn btn-submit" (click)="addEntrenador(
  nombreEntrenador.value,
  apellidoEntrenador.value,
  fechaNacimiento.value,
  numeroMedallas.value
  );
   nombreEntrenador.value='';
   fechaNacimiento.value='';
   apellidoEntrenador.value='';
   numeroMedallas.value=''">
    Crear
  </button>
</div>

<ul class="entrenador">
  <li *ngFor="let entrenador of entrenadores">
    <div routerLink="/Entrenador/{{entrenador.id}}">
      <span class="badge">{{entrenador.id}}</span> {{entrenador.nombres}}
    </div>
    <button class="delete" title="eliminar entrenador"
      (click)="delete(entrenador)">Eliminar</button>
  </li>
</ul>
