<div align="center" *ngIf="entrenador">
  <h2>Entrenador</h2>
  <div><span>id: </span>{{entrenador.id}}</div>
  <div>
    <label>
      Nombre:
    </label>
    <input [(ngModel)]="entrenador.nombres" placeholder="nombres" />
    <br />
    <label>
      Apellido:
    </label>
    <input [(ngModel)]="entrenador.apellidos" placeholder="apellidos" />
    <br />
    <label>
      Fecha Nac:
    </label>
    <input [(ngModel)]="entrenador.fechaNacimiento" placeholder="Fecha de Nacimiento" />
    <br />
    <label>
      num Medallas:
    </label>
    <input [(ngModel)]="entrenador.numeroMedallas" placeholder="numero medallas" />

  </div>
  <div class="row">
    <div *ngFor="let pokemon of entrenador.pokemons" class="col-1-4">
      <div class="module pokemon">
        <h4>{{pokemon.nombrePokemon}}</h4>
      </div>
    </div>
  </div>
  <app-boton-actualizar-entrenador></app-boton-actualizar-entrenador>
  <app-boton-eliminar-entrenador></app-boton-eliminar-entrenador>
  <br />
  <button type="button" class="btn btn-submit" routerLink="../../Home">Regresar</button>
</div>


<!-- <button (click)="save()">guardar</button> -->


<!-- <div align="center" class="container">
  <h1>ENTRENADOR</h1>
  <div class="row">
    <div *ngFor="let entrenador of entrenadores">
      <div class="module entrenador">
        <h4>{{entrenador.nombres}}</h4>
        <br />
        <br />
        <br />
        <br />
        <div class="row">
          <div *ngFor="let pokemon of entrenador.pokemons" class="col-1-4">
            <div class="module pokemon">
              <h4>{{pokemon.nombrePokemon}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
