<div align="center" *ngIf="entrenador">
  <h2>Entrenador</h2>
  <div><span>id: </span>{{entrenador.id}}</div>
  <div>
    <label>
      Nombre:
    </label>
    <input [(ngModel)]="entradaNombres" placeholder= {{entrenador.nombres}} />
    <br />
    <label>
      Apellido:
    </label>
    <input [(ngModel)]="entradaApellidos" placeholder={{entrenador.apellidos}} />
    <br />
    <label>
      Fecha Nac:
    </label>
    <input [(ngModel)]="entradaFechaNacimiento" placeholder={{entrenador.fechaNacimiento}} />
    <br />
    <label>
      num Medallas:
    </label>
    <input [(ngModel)]="entradaNumeroMedallas" placeholder="{{entrenador.numeroMedallas}}" />
    <br />
  <button type="button" class="btn btn-success" (click)="save()" (click)="irAInfo()">Actualizar</button>

    <app-boton-eliminar-entrenador></app-boton-eliminar-entrenador>

  </div>

  <div><span>POKEMONS DE </span>{{entrenador.nombres}}
    <br />
    <br />
      <router-outlet></router-outlet>
  </div>
  </div>
